build/
.dart_tool/
.flutter-plugins
.flutter-plugins-dependencies
.idea/
.flutter/
key.properties
.packages
ios/Flutter/Generated.xcconfig
ios/Flutter/flutter_export_environment.sh
android/local.properties
android/.gradle
ios/Flutter/flutter_export_environment.sh
ios/Flutter/Generated.xcconfig
lib/Screens/LivetimingArchive/livetiming.md
/android/app/.cxx
