build/
.dart_tool/
.flutter-plugins
.flutter-plugins-dependencies
key.properties
.packages
pubspec.lock
ios/Flutter/Generated.xcconfig
ios/Flutter/flutter_export_environment.sh
android/local.properties
.android/local.properties
