build/
.dart_tool/
.flutter-plugins
.flutter-plugins-dependencies
.idea/
key.properties
.packages
pubspec.lock
ios/Flutter/Generated.xcconfig
ios/Flutter/flutter_export_environment.sh
android/local.properties
android/.gradle
ios/Flutter/flutter_export_environment.sh
ios/Flutter/Generated.xcconfig
